html {
    height: 100%
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333
}

.button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 7px;
}

h1 {
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.text1 {
    font-size: 24px;
}

.text2 {
    font-size: 20px;
}

.text3 {
    font-size: 14px;
}

.container {
    padding-top: 60px;
    padding-bottom: 80px;
    padding-left: 150px;
    padding-right: 150px;
}

.flex-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.team-flex-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: start;
    -ms-flex-line-pack: start;
    align-content: start;
}

.user-info {
    margin-top: 22px;
    line-height: 25px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    -o-object-fit: fill;
    object-fit: fill;
}

.user-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 180px;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.avatar {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 20%;
    object-position: 50% 20%;
}

.flex-container.gray {
    background-color: #f7f9fb;
}

.head-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 47px;
    padding-bottom: 0px;
}

.content-text {
    margin: 18px 107px 0px;
    color: black;
    line-height: 1.3em;
    font-weight: 400;
    text-align: center;
}

.button-transp-border {
    position: static;
    padding-top: 9px;
    padding-right: 30px;
    padding-left: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.44);
    background-color: transparent;
    color: black;
    font-size: 16px;
    font-weight: 700;
}

.contact-text {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 80px;
    padding-left: 80px;
    line-height: 2em;
    text-align: center;
}

.contact-text.right-line {
    border-right: 1px solid rgba(0, 0, 0, 0.31);
}

.icon:hover,
.icon:focus {
    filter: sepia(51%) saturate(1500%) hue-rotate(80deg);
}

.nav-menu-button:hover,
.nav-menu-button:focus {
    filter: contrast(15%) sepia(51%) saturate(1500%) hue-rotate(80deg);
}

a:hover,
a:focus {
    color: #1d8f81;
}

.label {
    color: rgba(51, 51, 51, 0.73);
    font-style: normal;
    font-weight: 400;
}

.conact-link {
    text-decoration: none;
    color: black;
}

.footer-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 40px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #3f3d56;
}

.copyright {
    color: #dfdfdf;
}

.icon {
    width: 27px;
}

.icon.instagram {
    margin-left: 8px;
    margin-right: 8px;
}

.nav-link {
    margin-right: 40px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

.nav-menu-button {
    cursor: pointer;
    display: none;
}

.header-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0px;
    padding: 30px 40px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.contacts {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    margin-top: 30px;
}

.navigation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.collapsible {
    display: block;
    width: 90%;
    padding: 7px 0;
}

.collapsible>label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 22px;
    background-color: rgb(247, 247, 248, 1);
    border-radius: 7px;
    font-style: normal;
    font-weight: 400;
}

.collapsible>label:after {
    content: url("../icons/shevron-down.svg");
}

.collapsible>input:checked~label:after {
    content: url("../icons/shevron-up.svg");
}

.collapsible>.content {
    font-style: normal;
    font-weight: 400;
    padding: 0 22px;
}

.collapsible>label:hover {
    background-color: rgb(97, 161, 153, 0.15);
}

.collapsible>input {
    position: absolute;
    left: -100vw;
}

.collapsible>input:checked~label {
    background-color: rgb(97, 161, 153, 0.15);
    color: rgb(97, 161, 153, 1);
}

.collapsible>input:not(:checked)~.content {
    display: none;
    /* color: red; */
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 24px;
    }
    .text1 {
        font-size: 16px;
    }
    .text2 {
        font-size: 16px;
    }
    .text3 {
        font-size: 12px;
    }
    .head-image {
        width: 90%;
        margin-bottom: 20px;
    }
    .container {
        padding-top: 30px;
        padding-bottom: 40px;
        padding-left: 14px;
        padding-right: 14px;
    }
    .content-text {
        margin: 10px 0px 0px;
    }
    .contact-text {
        padding-right: 40px;
        padding-left: 40px;
    }
    .avatar {
        width: 80px;
        height: 80px;
    }
    .user-card {
        width: 80px;
    }
    .footer-container {
        padding-right: 14px;
        padding-left: 14px;
        padding-top: 20px;
        padding-bottom: 20px;
        flex-direction: column;
        align-content: flex-start;
    }
    .soc-networks {
        margin-left: -30px;
        margin-top: 8px;
    }
    .header-container {
        padding-right: 14px;
        padding-left: 14px;
    }
    .nav-menu {
        display: none;
    }
    .nav-menu-button {
        display: block;
    }
    .contacts {
        margin-top: 10px;
        grid-row-gap: 10px;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
    }
    .contact-text.right-line {
        border-right-style: none;
    }
    .collapsible {
        width: 100%;
    }
}